apiVersion: v1
kind: Service
metadata:
  name: order-management-frontend
  labels:
    app: order-management-frontend
spec:
  type: LoadBalancer
  ports:
  - port: 80
    targetPort: 80
    protocol: TCP
    name: http
  selector:
    app: order-management-frontend

