apiVersion: v1
kind: Secret
metadata:
  name: order-management-secrets
type: Opaque
stringData:
  rabbitmq-user: "guest"
  rabbitmq-password: "guest"
  jwt-key: "YourSuperSecretKeyThatShouldBeAtLeast32CharactersLong!"
  database-password: "postgres"


